@{ 
    string AuthStyle()
    {
        return (User.Identity.IsAuthenticated) ? "nav-bar-auth" : "nav-bar-unauth";
    }
}

<div id="nav-bar" class="@AuthStyle()">
    <div id="set-bar">
        <ul>
            <li>@Html.ActionLink("Sets", "Index", "Sets")</li>
            <li>@Html.ActionLink("Subjects", "Index", "Subjects")</li>        
        </ul>
    </div>
    <div id="user-bar">
        <ul>
            @if (!Request.IsAuthenticated)
            {
                <li>@Html.ActionLink("Sign In", "SignIn", "User")</li>
                <li>@Html.ActionLink("Register", "Register", "User")</li>
            }
            else
            {
                <li id="nav-bar-username">@User.Identity.Name</li>
                <li>@Html.ActionLink("Your Sets", "UserSet", "Sets")</li>
                <li>
                    @using (Html.BeginForm("SignOut", "User", FormMethod.Post))
                    {
                        <button type="submit"
                                id="sign-out-button">
                            Sign Out
                        </button>

                    }
                </li>
            }
        </ul>        
    </div>
</div>
