<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <link href="@Url.Content("~/Styles/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/showset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/subject.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/forms.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/test.css")" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>
    <header>
        @Html.Partial("_Header")
    </header>
    @RenderBody()

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/app.js"></script>
</body>

</html>
