@model Cards.ViewModels.AddCardViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    @using (Html.BeginForm())
    {
    <div>
        @Html.LabelFor(m => m.Card.Front)
        @Html.TextBoxFor(m => m.Card.Front)
        @Html.ValidationMessageFor(m => m.Card.Front)
    </div>
    <div>
        @Html.LabelFor(m => m.Card.Back)
        @Html.TextBoxFor(m => m.Card.Back)
        @Html.ValidationMessageFor(m=>m.Card.Back)
    </div>
    <div>
        @Html.LabelFor(m => m.Card.Hint)
        @Html.TextBoxFor(m => m.Card.Hint)
        @Html.ValidationMessageFor(m => m.Card.Hint)
    </div>
        @Html.HiddenFor(m => m.Card.SetId)
        <input type="submit" />
    }
</div>
