@model Cards.ViewModels.EditSetViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div>
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Set.Name)
            @Html.TextBoxFor(m => m.Set.Name)
            @Html.ValidationMessageFor(m => m.Set.Name)
        </div>
        <div>
            @Html.LabelFor(m => m.Set.Description)
            @Html.TextBoxFor(m => m.Set.Description)
            @Html.ValidationMessageFor(m => m.Set.Description)
        </div>
        <div>
            @Html.LabelFor(m => m.Set.Subject.Name)
            @Html.TextBoxFor(m => m.Set.Subject.Name)
            @Html.ValidationMessageFor(m => m.Set.Name)
        </div>
        @Html.HiddenFor(m => m.Set.SetId)
        @Html.HiddenFor(m => m.Set.UserId)
        <input type="submit" />
    }
</div>