@model Cards.ViewModels.IndexSetViewModel
@using Microsoft.AspNet.Identity
@using Cards.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "All Sets";
}

@{
    string GetTitle()
    {
        var action = ViewContext.RouteData.Values["action"].ToString();
        return (action == "Index") ? "All Sets" : "Your Sets";
    }

    string Visibility()
    {
        var action = ViewContext.RouteData.Values["action"].ToString();
        return (action == "Index") ? "Visible" : "Hidden";
    }
}

<div>
    <div id="set-list-header">
        <h2>@GetTitle()</h2>
        <a href="@Url.Action("AddSet", "Sets")"><img src="~/img/plus.svg" id="add-set-icon" /></a>
    </div>

    <ul id="set-list">
        @foreach (var set in Model.Sets)
        {
            <li class="set">
                <a href="@Url.Action("ShowSet", "Sets", new {SetId = set.SetId})">
                    <div class="set-main">
                        <span class="set-name">@set.Name</span> <span class="set-card-count">@set.CardCount Cards</span>
                    </div>
                    <div class="set-secondary">
                        <span class="set-username"
                              style="visibility:@Visibility()">@set.User.UserName
                        </span>
                    </div>
                </a>
            </li>
        }
    </ul>
</div>

