
@{
    ViewBag.Title = "Index";
}

<h2>Sets</h2>
<h5>@ViewBag.Sets.Count Available!</h5>
<a href="@Url.Action("AddSet", "Sets")">Add set</a>
<ul>
    @foreach (var set in ViewBag.Sets)
     {
    <li>
        @set.Name
        <a href="@Url.Action("EditSet", "Sets", new {SetId = set.SetId})">Edit</a>
        <a href="@Url.Action("DeleteSet", "Sets", new {SetId = set.SetId})">Delete</a>
    </li>
     }
    </ul>

